html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

button,
a {
  text-decoration: none;
  cursor: pointer;
  border: none;
}

body {
  background-image: url("./images/Background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  font-family: "Inter", sans-serif;

  overflow-y: hidden;

  @media only screen and (max-width: 768px) {
    background-image: url("./images/Background-mob.png");
  }
}

main {
  position: relative;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 20px 0;

  @media only screen and (max-width: 1280px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.logo {
  grid-column: 1 / span 2;
  z-index: 1;
}

.wheel__wrapper {
  position: relative;
  width: 590px;
  height: 550px;
  margin: 0 -50px;

  > .wheel__image {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-width: 1280px) {
    margin: 0;
    grid-column: 1 / span 2;

    > .wheel__image {
      object-fit: contain;
    }
  }

  @media only screen and (max-width: 768px) {
    max-width: 375px;

    > .wheel__image {
      object-fit: contain;
      width: 100%;

      &.wheel__image-center {
        width: 60px;
        height: 60px;
      }
    }
  }
}

.wheel__image-options.firstSpin {
  top: 0;
  left: -12%;
  animation: firstSpin 5s cubic-bezier(0.5, 0, 0.7, 1) forwards;

  @media only screen and (max-width: 1280px) {
    left: 0;
  }
}

.wheel__image-options.secondSpin {
  animation: secondSpin 5s cubic-bezier(0.5, 0, 0.7, 1) forwards;
}

.decor-left-top,
.decor-left-bottom,
.decor-right-bottom,
.decor-right-top {
  position: absolute;
}

.decor-left-top,
.decor-left-bottom {
  left: 0;
}

.decor-right-bottom,
.decor-right-top {
  right: 0;
}

.decor-left-top,
.decor-right-top {
  top: 0;
}

.decor-left-bottom,
.decor-right-bottom {
  bottom: 0;
}

.decor-left-top {
  width: 360px;
  height: 220px;
  background-image: url("./images/decor/Gears_left.png");

  @media only screen and (max-width: 1280px) {
    width: 100%;

    background-repeat: no-repeat;

    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
      ),
      url("./images/decor/Gears_left.png");
  }
}

.decor-right-top {
  width: 360px;
  height: 250px;
  background-image: url("./images/decor/Gears_right_top.png");

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.decor-left-bottom {
  width: 450px;
  height: 245px;
  background-image: url("./images/decor/Dice_golden.png");

  @media only screen and (max-width: 1280px) {
    display: none;
  }
}

.decor-right-bottom {
  width: 247px;
  height: 273px;
  background-image: url("./images/decor/Gears_right_bottom.png");
}

.button-spin {
  padding: 23px 103px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: linear-gradient(90deg, #ec1f01 0%, #b31700 100%);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(255, 0, 0, 0.85);
  grid-column: 1 / span 2;
  z-index: 1;

  @media only screen and (max-width: 768px) {
    padding: 17px 96px;
  }

  .spin-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;

    @media only screen and (max-width: 768px) {
      font-size: 23px;
    }
  }
}

.card {
  height: 184px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 800;
  color: #e21f26;
  background-repeat: no-repeat;

  @media only screen and (max-width: 1280px) {
    height: 79px;
    font-size: 12px;
  }
}

.card-left {
  max-width: 424px;
  width: 100%;

  text-align: right;
  background-image: url("./images/decor/content-left.png");
  padding-right: 73px;
  background-size: contain;
  justify-content: flex-end;

  * {
    max-width: 262px;
    width: 100%;
  }

  @media only screen and (max-width: 1280px) {
    grid-column: 2;
    background-image: url("./images/LeftCardBg.svg");
  }
}

.card-right {
  max-width: 410px;
  width: 100%;
  background-image: url("./images/decor/content-right.png");

  padding-left: 69px;
  background-size: contain;

  * {
    max-width: 316px;
    width: 100%;
  }

  @media only screen and (max-width: 1280px) {
    background-image: url("./images/RightCardBg.svg");
  }
}

.card-left,
.card-right {
  @media only screen and (max-width: 1280px) {
    grid-row: 1;
    max-width: 190px;
    padding: 0 20px;

    * {
      text-align: center;
    }
  }
}

.mainContent_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  grid-column: 1 / span 2;

  @media only screen and (max-width: 1280px) {
    flex-direction: column;
    grid-column: 1 / span 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

.bonus {
  background-image: url("./images/decor/bonus_bg.png");
  background-size: contain;
  width: 278px;
  height: 193px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 40%;

  @media only screen and (max-width: 1280px) {
    top: 25%;
  }

  * {
    color: #391909;
    text-transform: uppercase;
  }

  @media only screen and (max-width: 1280px) {
    width: 128px;
    height: 89px;
  }
}

.bonus_firstSpin {
  left: 10%;

  @media only screen and (max-width: 1280px) {
    left: 0;
  }
}

.bonus_secondSpin {
  right: 10%;

  @media only screen and (max-width: 1280px) {
    right: 0;
  }
}

.bonus_numbers {
  font-weight: 900;
  font-size: 55px;

  @media only screen and (max-width: 1280px) {
    font-size: 25px;
  }
}

.bonus_detils {
  font-weight: 800;
  font-size: 24px;

  @media only screen and (max-width: 1280px) {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1280px) {
  .bonus_additionalInfo {
    font-size: 9px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);

  z-index: 10;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 405px;
  height: 665px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 5px rgba(255, 0, 0, 0.5);
  overflow: hidden;
  transition: opacity 3s ease;
  opacity: 1;

  &.transparent {
    opacity: 0;
  }

  @media only screen and (max-width: 1280px) {
    width: 350px;
    height: auto;
  }

  @media only screen and (max-width: 768px) {
    max-width: 320px;
    width: 100%;
  }
}

.modal__header {
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  color: #fff;
  background: #e21f26;
  font-weight: 700;
}

.modal__title {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;

  &.modal__title-firstSpin {
    font-size: 30px;
    margin-bottom: 8px;
    color: #e21f26;

    @media only screen and (max-width: 1280px) {
      font-size: 26px;
    }
  }

  &.modal__title-secondSpin {
    font-size: 28px;
    color: #212121;

    @media only screen and (max-width: 1280px) {
      font-size: 24px;
    }
  }
}

.modal__content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media only screen and (max-width: 1280px) {
    gap: 15px;
  }
}

.modal__subtitle {
  color: #212121;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

.modal_buttonsWrapper {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.modal__button-formToggle {
  background: #fff;
  border: 1px solid #212121;
  border-radius: 50px;
  color: #212121;
  padding: 10px 40px;
  font-weight: 700;

  &.active {
    background: #e21f26;
    border: none;
    color: #fff;
  }

  @media only screen and (max-width: 1280px) {
    padding: 10px 25px;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal__form-input {
  font-size: 16px;
  padding: 15px;
  color: #212121;
  background: #efefef;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;

  &::placeholder {
    color: #797979;
  }
}

.modal__form-label {
  display: block;
}

.passwordLabel {
  position: relative;
}

.hideIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  cursor: pointer;
}

.modal__form-labelText {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.modal__form-passwordAndCurrencyWrapper,
.modal__form-phoneElementsWrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.modal__form-submitBtn {
  width: 100%;
  background: #e21f26;
  color: #fff;
  padding: 15px 0;
  border-radius: 5px;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 18px;
}

.modal__form-additionalInfo {
  font-weight: 700;
  text-align: center;
}

.modal__form-additionalInfoLink {
  color: #e21f26;
  text-decoration: underline;
}

.selected-option {
  cursor: pointer;
  background: #efefef;
  padding: 15px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  height: 100%;
  position: relative;
}

.arrow {
  font-size: 10px;
}

.optionsList {
  position: absolute;
  top: calc(100% + 7px);
  left: 0;
  right: 0;
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 10;

  &.countryCodeSelect-optionsList {
    height: 200px;
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background: #d9d9d9;
}

.checkbox-label {
  display: flex;
  gap: 10px;
  align-items: center;
}
.checkbox-labelText {
  display: block;
  max-width: 300px;
  font-size: 12px;
  font-weight: 500;
}

.checkbox {
  appearance: none;
}

.checkbox-icon {
  display: block;
  width: 16px;
  height: 16px;
  background: url("./images/Checkbox-unchecked.svg");
  /* margin-right: 10px; */
}

.checkbox:checked + .checkbox-icon {
  background: url("./images/Checkbox-checked.svg");
}

.alert {
  color: #e21f26;
  padding: 25px 30px 30px;
  border-radius: 5px;
  border: 1px solid #e21f26;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  background: #212121;
  z-index: 100;

  @media only screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.hidden {
  display: none;
}

@keyframes firstSpin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(390deg);
  }
}

@keyframes secondSpin {
  0% {
    transform: rotate(390deg);
  }
  30% {
    transform: rotate(720deg);
  }
  60% {
    transform: rotate(179deg);
  }
  90% {
    transform: rotate(1000deg);
  }

  100% {
    transform: rotate(10deg);
  }
}
